body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}

p{
    color: #8f8f8f;
}

/* Headings */
.big-heading{
    font-family: montserrat-Black;
    font-size:3.5rem;
    line-height: 1.5;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color:white;
}

.white-section{
    background-color:#fff;
}

.section-heading{
    font-size:3rem;
    line-height: 1.5;
}


/* Containers */
.container-fluid{
    padding:7% 15%;
}



/* features section */
#features{
    
    position:relative;
    /* z-index:1; */ /*we can remove this z-index cos the feature section is naturally on top on the title-image in the html flow*/
    
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box{
   padding: 5%;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
 /* Download Button */
.download-button{
    margin: 3% 5% 3% 0;
}

/* Title section */

#title .container-fluid{   /*apply this padding only in yhe container-fluid dats in the title section. and bcos this is more specific, it';; overide the previous one*/
    padding: 3% 15% 7%;
    text-align: left;
} 

/* Title Image */
.title-img{
    width: 60%;  /*of it's parent element*/
    transform: rotate(25deg);
    position:absolute;
    right: 30%;
    /* top: 40%; */
    
    
    
}
.press-logo{
    width: 15%;
    margin: 10px 20px 50px; /*top left/right bottom*/
}

/* Testimonial */
#testimonials{
    background-color: #ef8172;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:50px;
}
.testimonial-text{
    font-size:3rem;
    line-height: 1.5;
}

#press{
    padding-bottom: 3%;
    background-color: #ef8172;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
    
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.price-heading{
    font-size: 1.5rem;
}

/* Footer */
#footer{
    background-color: #fff;
}
.footer-icons{
    /* padding: 7px; */
    margin: 20px 10px;
}


@media (max-width:1028px){             /*1028px(css is carried out iff width is 1028px n lower) is the point the layout starts becoming wierd*/
    .title-img{
        position:static;
        transform:rotate(0deg)
    }
    #title{
        text-align: center;  /* keep this text-align: center cos it's for a different use case*/
    }
}